////////////////////////////////
/// logo
.logo {
	height: 3.25rem;
}

////////////////////////////////
/// search box
.search {
	flex: 0 0 40%;

	display: flex;
	align-items: center;
	justify-content: center;

	&__input {
		font-family: inherit;
		font-size: inherit;
		background-color: var(--color-grey-light-2);
		color: inherit;
		padding: 0.7rem 2rem;
		border: none;
		border-radius: 10rem;
		width: 80%;
		transition: all 0.2s ease;

		&:focus {
			width: 90%;
			background-color: var(--color-grey-light-3);
		}

		&::placeholder {
			font-weight: 100;
			color: var(--color-grey-light-4);
		}
	}

	&__input:focus + &__button {
		background-color: var(--color-grey-light-3);
	}

	&__button {
		margin-left: -3.5rem;
		border: none;
		background-color: var(--color-grey-light-2);
		transition: all 0.1s ease;

		&:active {
			transform: translateY(2px);
		}
	}

	&__icon {
		height: 2.25rem;
		width: 2.25rem;
		fill: var(--color-grey-dark-2);
	}
}

////////////////////////////////////
/// user nav
.user-nav {
	display: flex;
	align-self: stretch;
	align-items: center;
	gap: 3rem;

	transition: all 0.2s ease;

	& > * {
		cursor: pointer;
		height: 100%;

		&:hover {
			background-color: var(--color-grey-light-2);
		}
	}

	&__icon-box {
		display: flex;
		align-items: center;
		position: relative;
	}

	&__icon {
		height: 2.25rem;
		width: 2.25rem;
		fill: var(--color-grey-dark-2);
	}

	&__notification {
		font-size: 0.8rem;
		width: 1.75rem;
		height: 1.75rem;
		border-radius: 10rem;
		background-color: var(--color-primary);
		color: #fff;
		position: absolute;
		top: 1.5rem;
		right: -1rem;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__user {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	&__user-photo {
		height: 3.75rem;
		border-radius: 50%;
	}
}

////////////////////////////////////
/// sidebar
.side-nav {
    
	&__item {
	}

	&__link {
	}

	&__icon {
		width: 1.75rem;
		height: 1.75rem;
	}

	span {
	}

	
}

////////////////////////////////////
/// legal
.legal {
		font-size: 1.2rem;
		text-align: center;
		padding: 2.5rem;
		color: var(--color-grey-light-4);
	}